<div class="orders">
    <div class="card">
        <div class="card-header">
          <h3>ORDER HISTORY </h3> 
        </div>
        <div class="card-body">
            <div class="data-cards">
                <div class="card dc">
                    <div class="card-body">
                       INTERNATIONAL
                    </div>
                </div>
                <div class="card dc">
                    <div class="card-body">
                       INTERSTATE
                    </div>
                </div>
            </div>
            <table class="table table-striped table-responsive table-hover"> 
                <thead>
                  <tr>
                    <th>#</th>
                    <th>First Name</th>
                    <th>Last Name</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <th scope="row">1</th>
                    <td>Mark</td>
                    <td>Otto</td>
                  </tr>
                  <tr>
                    <th scope="row">2</th>
                    <td>Jacob</td>
                    <td>Thornton</td>
                  </tr>
                </tbody>
              </table>
  
        </div>
      </div>
</div>
