<div class="card">
    <div class="card-header text-center">
      <h3><b>SERVICES</b></h3>
    </div>
    <div class="card-body">
        <div class="row">
            <!-- SERVICE 1 -->
           <div class="col-lg-4">
               <img src="../../../assets/images/new-normal-woman-stewardess-with-mask-bags-airport-design-covid-19-virus-travel-theme_24877-69383.jpg">
               <p>DIRECT TRANSPORT FACILITY FROM AIRPORT TO STAY</p>

           </div>
           <!-- SERVICE 2 -->
           <div class="col-lg-4">
            <img src="../../../assets/images/illustrationV1.png">
            <p>COMFORTABLE & HYGENIC STAY WITH 24*7 SUPPORT </p>
            
        </div>
        <!-- SERVICE 3 -->
        <div class="col-lg-4">
            <img src="../../../assets/images/undraw_medicine_b1ol.svg">
            <p>COVID-19 TEST FACILITY </p>

           
        </div>
    </div>
    </div>
</div>
