<header>
    <h1>
       <label for="">
          <span class="fa  fa-bars"> </span>
       </label>
       Dashboard
    </h1>

    <div class="search-wrapper">
       <span class="fa fa-search"></span>
       <input type="search" placeholder="Search here">
   </div>

   <div class="user-wrapper">
      <img src="../../../assets/images/Woman Profile-595b40b65ba036ed117d3b22.svg" alt='avatar' width="50px" height="50px">
      <div>
        <h4>Jane Doe</h4>
        <small>Admin</small>
      </div>
   </div>
  </header>