header{
    display: flex;
    justify-content: space-between;
    padding:1rem;
    box-shadow: 2px 2px 5px rgba(0,0,0,0.2);
    position: fixed;
    left:270px;
    top:0;
    width: 77vw;
    font-family: 'Poppins',sans-serif;
    
 }

header h1{
    color:#222;
}

header label span{
    font-size:1.7rem;
}
.search-wrapper {
    border:1px solid #ccc;
    border-radius: 30px;
    height:50px;
    display: flex;
    align-items: center;
    overflow-x: hidden;
}

.search-wrapper span{
    display: inline-block;
    padding: 0rem 1rem;
    font-size:1.5rem;
}

.search-wrapper input{
   height: 100%;
   padding: 0.5rem;
   border: none;
   outline:none;
}

.user-wrapper{
    display: flex;
    align-items: center;
}

.user-wrapper img{
   border-radius: 50%;
   border: 3px black solid;
   margin-right: 1rem;
}

.user-wrapper h4{
margin-bottom: 0rem !important;
}

.user-wrapper small{
    display: inline-block;
    color:grey;   
}
