<div class="card text-center">
    <div class="card-header">
      MY DETAILS
    </div>
    <div class="card-body">

        <table class="table table-borderless">
            <tbody>
              <!-- USER DETAILS -->
              <tr>
                <td>Full Name</td>
                <td>{{user.name}}</td>
              </tr>
              <tr> 
                <td>Email</td>
                <td>{{user.email}}</td>
              </tr>
              <tr> 
                <td>Phone</td>
                <td>{{user.phone}}</td>
              </tr>
              </tbody>
              </table>

</div>
</div>