<!-- FAQ -->


  <div class="card card-main">
      <div class="card-header card-header-main text-center ">
        <h3><b>FAQ</b></h3>
      </div>

    <div class="card-body">
      <!-- ACCORDIANS -->
      <ngb-accordion #acc="ngbAccordion">
        <ngb-panel id="toggle-1" class="query" title="What precautions should everyone take in a hotel or other accommodation establishment?">
          <ng-template ngbPanelContent>
            Everyone should follow basic precautions:
             <ul>
               <li>Wash all parts of your hands frequently (at least 20 seconds if using an alcohol-based hand rub, and at least 40 seconds with soap and water), including after exchanging objects such as money or credit cards. Look for hand sanitizer stations and use them before going into dining halls, restaurants or bars.</li>
               <li> Cover a cough or sneeze with a bent elbow or tissue, and throw away the tissue in a closed bin.</li>
               <li> Maintain at least a 1 metre distance from staff and other guests. This includes avoiding hugging, kissing, or shaking hands. If you can’t guarantee the distance, wear a mask. Be sure to check local and national guidelines on the use of masks.</li> 
          </ul>
          </ng-template>

        </ngb-panel>
        <ngb-panel id="toggle-2" class="query" title="Can you get the virus from people who were in the room previous to you?">
          <ng-template ngbPanelContent>
            Hotels and other accommodations should have procedures for cleaning, disinfecting and ventilating the room properly between every guest’s stay. These processes allow the accommodations to be used immediately afterward. If these procedures are followed, there is no need to leave the room empty between guests.
          </ng-template>
        </ngb-panel>
        
        <ngb-panel id="toggle-3" class="query" title="What should travelers do if they get sick while at an accommodation facility?">
          <ng-template ngbPanelContent>
            If a guest develops symptoms of COVID-19, such as fever, dry cough or tiredness, they should notify the facility manager and seek medical advice by contacting local health authorities.

            The guest should isolate from others, including fellow travelers. If the guest cannot be isolated or staff need to enter the room, the ill person should put on a medical mask, and people nearby should also wear a mask.  If the medical mask cannot be tolerated by the ill person, then he or she should cough or sneeze into a bent elbow or use tissues to cover the mouth, and discard the tissue immediately into a closed waste bag.
          </ng-template>
        </ngb-panel>

        <ngb-panel id="toggle-4" class="query" title="How can I register my hotel with Quarantine Stay as a property owner?">
          <ng-template ngbPanelContent>
            Send a mail to us using "CONTACT US" form. We will get back to you regarding the procedures.
          </ng-template>
        </ngb-panel>

        <ngb-panel id="toggle-5" class="query" title="As an interstate traveler coming to Kerala via non-air means like bus or car,can I book accomodation with Quarantine Stays?">
          <ng-template ngbPanelContent>
             Currently we provide transport services only from airport to stay location. Feel free to reach out to us on help-line number for further queries on this.
          </ng-template>
        </ngb-panel>

      </ngb-accordion>
      
      <hr/>
      
      <!-- /ACCORDIANS -->
    </div>
  </div>
