img{
    height: 150px;
    width: 150px;
    margin-left:45vw;
    margin-bottom: 50px;
}

.card{
    margin:auto;
    padding:10px;
}

.card-header{
    text-align: center;
    font-weight: bold;
}

.card-body{
    margin-top:50px;
}
