<div class="card">
    <div class="card-header text-center">
      <h3><b>ABOUT US</b></h3>
    </div>

    <div class="card-body">
        <p>WHO has declared the COVID-19 epidemic affecting countries as a Pandemic. Due to the inflow of persons from affected countries, Kerala state has strengthened the surveillance and control measures against the disease and has gone forward in identifying almost all possible contacts thereby preventing spread of disease and timely health interventions to affected persons. <br><br> State level, District level and Local Self Government Institution level structures have been set up in the state to ensure coordinated response to COVID 19 management. Interdepartmental coordination at district level to handle issues and spreading of information, education and communication related to COVID 19 is spearheaded by the District Administration.

           <br><br> <b>Quarantine Stays</b> is a solution brought forward as precautionary measure to control the spread of COVID-19 in Kerala from persons travelling in to the state from other affected countries and states. The travellers can opt for a quarantine facility near airport and successfully complete their quarantine period before freely travelling within the state. The daily charges are made affordable with government verified hygiene regulations and 24*7 medical support. Additionaly many free facilities like transportation from airport to stay location, COVID-19 test after the quarantine period are also provided. Eligible travellers can also apply for stay options fully-paid by government upon verifications.

           <br><br>In addition, owners of hotels,home stays, resorts who wish to register their property as a quarantine stay are also aided. Our mission is to ensure the incoming travellers are tested COVID-19 negative before released into the society.
        </p>
    </div>
    <img src="../../../assets/images/heart.jpg">

</div>








